.App {
  text-align: center;
  background-color: black;
  color: white;
  min-height: 100vh;
}

h1 {
  margin: 0;
}

.header {
  background-color: rgb(163, 114, 15);
  padding: 8px;
  align-items: center;
}

.main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 14px;
}

.data {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 5px;
}